@model ControleVeicular.Web.ViewModels.ModeloViewModel

@{
    ViewBag.Title = "Cadastro de Modelo";
}

<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="card card0 border-0">
            <div class="row d-flex">

                <div class="col-lg-12">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="card2 card border-0 px-4 py-5">
                        <div class="row px-3">
                            @Html.LabelFor(model => model.Nome, new { @class = "mb-1" })
                            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nome, "", new { htmlAttributes = new { @class = "text-danger" } })
                        </div>

                        <div class="row mb-3 px-3">
                            <a class="btn btn-outline-info text-center espaco-botao" asp-area="" asp-controller="Marcas" asp-action="Index">Voltar</a>
                            <button type="submit" class="btn btn-blue text-center">Cadastrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

